@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(14, 3, 114);
}

#userwelcome {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,126,255,1) 100%);
  color:white;
  border-radius: 0%;
  font-family: 'Russo One';
}

footer {
  background-color: black;
  color: grey;
}

#jumbotron {
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  text-align: center;
}
h3 {
  text-align: center;
}


#brand {
  font-family: "Russo One", "Lobster";
  color: #0a22fc;
}
div.drop.dropdown-menu {
  background-color: rgb(33, 37, 41);
}

.translate {
  height: 75%;
  width: 75%;
  align-content: center;
  margin: 1em;
  padding: 1em;
}
#signup {
  color: white;
  background-color: rgb(33, 37, 41);
}
#login {
  color: white;
  background-color: rgb(33, 37, 41);
}
#welcome {
  font-family: "Russo One", "Lobster";
  text-align: center;
  text-decoration-line: underline;
  color: #007bff;
}
#navbar {
  background-color: rgb(33, 37, 41);
}
#nav-L {
  height: 10%;
  width: 10%;
  padding-bottom: 3%;
}
#root {
  background: rgb(14, 3, 114);
  height:100%;
}
.intro {
  padding: 2em;
  border-style: groove;
  border-radius: 20%;
  color: white;
  background-color: black;
  font-family: 'Russo One';
}
 #userhome {
   background-color: white;
   color: darkblue;
 }
 #userleft{
   background-color:rgb(14, 3, 114);
   font-weight: bold;
   /* color: white; */
 }
 #userright {
  background-color:rgb(14, 3, 114);
   font-weight: bold;
 }

 #msgDiv {
    overflow-y: auto;
    height: 100%;
 }

 #navsaved {
  color: white;
  background-color: rgb(33, 37, 41);
 }
#navmsgs {
  color: white;
  background-color: rgb(33, 37, 41);
}
#navuserhome {
  color: white;
  background-color: rgb(33, 37, 41);
}
#loginform {
  height: 10em;
  color: white;
}
 